<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produit">
            <h2><span jhiTranslate="thePapyrusPrintApp.produit.detail.title">Produit</span> {{ produit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="thePapyrusPrintApp.produit.nom">Nom</span></dt>
                <dd>
                    <span>{{ produit.nom }}</span>
                </dd>
                <dt><span jhiTranslate="thePapyrusPrintApp.produit.prixVenteHtva">Prix Vente Htva</span></dt>
                <dd>
                    <span>{{ produit.prixVenteHtva }}</span>
                </dd>
                <dt><span jhiTranslate="thePapyrusPrintApp.produit.prixVenteTvac">Prix Vente Tvac</span></dt>
                <dd>
                    <span>{{ produit.prixVenteTvac }}</span>
                </dd>
                <dt><span jhiTranslate="thePapyrusPrintApp.produit.prixAchatHt">Prix Achat Ht</span></dt>
                <dd>
                    <span>{{ produit.prixAchatHt }}</span>
                </dd>
                <dt><span jhiTranslate="thePapyrusPrintApp.produit.tauxTvaAchat">Taux Tva Achat</span></dt>
                <dd>
                    <span>{{ produit.tauxTvaAchat }}</span>
                </dd>
                <dt><span jhiTranslate="thePapyrusPrintApp.produit.tauxTva">Taux Tva</span></dt>
                <dd>
                    <span>{{ produit.tauxTva }}</span>
                </dd>
                <dt><span jhiTranslate="thePapyrusPrintApp.produit.observation">Observation</span></dt>
                <dd>
                    <span>{{ produit.observation }}</span>
                </dd>
                <dt><span jhiTranslate="thePapyrusPrintApp.produit.description">Description</span></dt>
                <dd>
                    <span>{{ produit.description }}</span>
                </dd>
                <dt><span jhiTranslate="thePapyrusPrintApp.produit.notation">Notation</span></dt>
                <dd>
                    <span *ngFor="let notation of produit.notations; let last = last">
                        <a [routerLink]="['/notation', notation?.id, 'view']">{{ notation.note }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="thePapyrusPrintApp.produit.image">Image</span></dt>
                <dd>
                    <span *ngFor="let image of produit.images; let last = last">
                        <a [routerLink]="['/image', image?.id, 'view']">{{ image.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="thePapyrusPrintApp.produit.marque">Marque</span></dt>
                <dd>
                    <div *ngIf="produit.marque">
                        <a [routerLink]="['/marque', produit.marque?.id, 'view']">{{ produit.marque?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/produit', produit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
