<div id="content-slider">
  <div class="wrap-slider">	
    <!-- ===== Thumbnail ControlNav ======= -->			
    <input type="radio" id="a-1" name="a" >			
    <input type="radio" id="a-2" name="a" >			
    <input type="radio" id="a-3" name="a" >
    <input type="radio" id="a-4" name="a" >

    <nav id="main">
      <label for="a-1" class="first"></label>
      <label for="a-2" class="first"></label>
      <label for="a-3" class="first"></label>
      <label for="a-4" class="first"></label>
    </nav>
    <!-- =================================== -->	
    <nav id="control">
      <label for="a-1"></label>
      <label for="a-2"></label>
      <label for="a-3"></label>
      <label for="a-4"></label>
    </nav>
    <!-- =================================== -->

    <!-- 	IMAGE NAVIGATION pic -->
    <span id="b-1" class="th" tabindex="10">
      <img src="../../../content/images/caroussel1.jpg" alt="" id="p-1">
      <div class="title-1">
        <h1>Invitations de fêtes</h1>
        <p>Cartes de visite carrées</p>
      </div>
    </span>

    <span id="b-2" class="th" tabindex="11">
      <img src="../../../content/images/caroussel2.jpg" alt="" id="p-2">
      <div class="title-2">
        <h1>Flyers et dépliants</h1>
        <p>Chemises porte-documents</p>
      </div>
    </span>			

    <span id="b-3" class="th" tabindex="12">
      <img src="../../../content/images/caroussel3.jpg" alt="" id="p-3">
      <div class="title-3">
        <h1>Services graphiques</h1> 
        <p>Souvenirs de mariage</p>
      </div>
    </span>

    <span id="b-4" class="th" tabindex="13">
      <img src="../../../content/images/caroussel1.jpg" alt="" id="p-4">
      <div class="title-4">
        <h1>Faire-part de mariage</h1> 
        <p>Cartes d'invitation anniversaire</p>
      </div>
    </span>

    <!-- ===== IMages ======= -->							

    <div class="slider">
      <div class="inset">

        <figure>
          <figcaption class="title-1">
            <h1>Cartes de visite</h1>
            <p>-> Cartes de visite aux coins arrondis</p>
            <p>-> Cartes de visite carrées</p>
          </figcaption>
          <img src="../../../content/images/caroussel1.jpg" alt="" id="i-1" class="f">						
        </figure>

        <figure>
          <figcaption class="title-2">
            <h1>Invitations et papeterie</h1>
            <p>-> Invitations de fêtes</p>
            <p>-> Cartes invitation de baby shower</p>
            <p>-> Faire-part de mariage</p>
            <p>-> Souvenirs de mariage</p>
            <p>-> Faire-part de naissance</p>
            <p>-> Programmes de mariage</p>
          </figcaption>
          <img src="../../../content/images/caroussel2.jpg" alt="" id="i-2" class="f">						
        </figure>

        <figure>
          <figcaption class="title-3">
            <h1>Supports marketing</h1>
            <p>-> Mugs</p>
            <p>-> Magic mugs</p>
            <p>-> Calendrier</p>
            <p>-> Sacs en papier</p>
            <p>-> Feuilles de stickers personnalisés</p>
            <p>-> Stylos</p>
            <p>-> Accroche-portes</p>
            <p>-> T-shirts</p>
            <p>-> Polos</p>
            <p>-> Sweat-shirts</p>
          </figcaption>
          <img src="../../../content/images/caroussel3.jpg" alt="" id="i-3" class="f">						
        </figure>

        <figure>
          <figcaption class="title-4">
            <h1>Affiches et pancartes</h1>
            <p>-> Cartons plumes</p>
            <p>-> Menus</p>
            <p>-> Flyers et dépliants</p>
            <p>-> Chemises porte-documents</p>
            <p>-> Étiquettes</p>
            <p>-> Services graphiques</p>
            <p>-> Banderoles</p>
            <p>-> Roll-ups</p> 
            <p>-> Affiches</p>
          </figcaption>
          <img src="../../../content/images/caroussel1.jpg" alt="" id="i-4" class="f">						
        </figure>
				
      </div>
    </div>					

  </div>		
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <form class="search">
      <input type="text" class="searchTerm" placeholder="Rechercher, Ex : carte 2000 FCFA" id="from" [(ngModel)]="nameSearch" name="produit">
    </form>
    <br>
    <div class="card">
      <img src="../../../content/images/image-contact.jpg" class="card-img-top" alt="...">
      <div class="neon">
        <span class="text" data-text="A propos">A propos</span>
        <span class="gradient"></span>
        <span class="spotlight"></span>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>ThePapyrusPrint</strong> est une société qui aide les personnes, les petites, moyennes et grandes entreprises à créer des <strong>supports marketing</strong> personnalisés avec des <strong>graphismes</strong> au goût du jour conçus par des experts, afin de les aider à toucher leur cible à l’aide d’un <strong>support professionnel</strong>, simple, efficace et adapté à leurs activités.</p>
      </div>
      <ul class="list-group list-group-flush">
        <div class="neon">
          <span class="text" data-text="Commandez">Commandez</span>
          <span class="gradient"></span>
          <span class="spotlight"></span>
        </div>
        <li class="list-group-item">Whatsapp :  (+33) 7 94 38 02 50</li>
        <li class="list-group-item">Email : thepapyrusprint@gmail.com</li>
      </ul>
      <div class="card-body">

        <a href="https://www.facebook.com" class="facebook-button" onclick="window.open(this.href); return false;">Facebook</a>
        <a href="https://www.instagram.com" class="instagram-button" onclick="window.open(this.href); return false;">Instagram</a>
      </div>
    </div>
        <br>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary btn-block btn-sm float-right jh-create-entity create-produit" [routerLink]="['/produit/new']">
          <fa-icon icon="plus"></fa-icon>
          <span  jhiTranslate="thePapyrusPrintApp.produit.home.createLabel">
          Create a new Produit
          </span>
      </button>
  </div>

  <div class="col-sm-8">
  
      <jhi-alert-error></jhi-alert-error>
  
      <jhi-alert></jhi-alert>
  
      <div class="alert alert-warning" id="no-result" *ngIf="produits?.length === 0">
          <span jhiTranslate="thePapyrusPrintApp.produit.home.notFound">No produits found</span>
      </div>
      <div *ngIf="produits?.length > 0">
          <div class="row">
              <div class="col-md-4" *ngFor="let produit of produits | produitFilterPipe: nameSearch; trackBy: trackId;">
                <jhi-cart-produit [produit]="produit"></jhi-cart-produit><br>
              </div>
              <div class="alert alert-warning" id="no-result" *ngIf="!(produits | produitFilterPipe: nameSearch).length" >
                <span jhiTranslate="thePapyrusPrintApp.produit.home.notFound">No produits found</span>
              </div>
          </div>
      </div>
  </div>
</div>
