<div *ngIf="produit">
    <h2><span jhiTranslate="thePapyrusPrintApp.produit.detail.title">Produit</span>
        <!-- {{ produit!.id }} -->
    </h2>
    <hr>
    <div id="left" class="col-sm-4">
        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="thePapyrusPrintApp.produit.nom">Nom</span></dt>
            <dd>
                <span>{{ produit!.nom }}</span>
            </dd>
            <!-- <dt><span jhiTranslate="thePapyrusPrintApp.produit.prixVenteHtva">Prix Vente Htva</span></dt>
            <dd>
                <span>{{ produit!.prixVenteHtva }}</span>
            </dd> -->
            <dt><span jhiTranslate="thePapyrusPrintApp.produit.prixVenteTvac">Prix Vente Tvac</span></dt>
            <dd>
                <span>{{ produit!.prixVenteTvac  | currency:'XAF' | space }}</span>
            </dd>
            <!-- <dt><span jhiTranslate="thePapyrusPrintApp.produit.prixAchatHt">Prix Achat Ht</span></dt>
            <dd>
                <span>{{ produit!.prixAchatHt }}</span>
            </dd>
            <dt><span jhiTranslate="thePapyrusPrintApp.produit.tauxTvaAchat">Taux Tva Achat</span></dt>
            <dd>
                <span>{{ produit!.tauxTvaAchat }}</span>
            </dd>
            <dt><span jhiTranslate="thePapyrusPrintApp.produit.tauxTva">Taux Tva</span></dt>
            <dd>
                <span>{{ produit!.tauxTva }}</span>
            </dd> -->
            <!-- <dt><span jhiTranslate="thePapyrusPrintApp.produit.observation">Observation</span></dt>
            <dd>
                <span>{{ produit!.observation }}</span>
            </dd> -->
            <dt><span jhiTranslate="thePapyrusPrintApp.produit.description">Description</span></dt>
            <dd>
                <span>{{ produit!.description }}</span>
            </dd>
            <!-- <dt><span jhiTranslate="thePapyrusPrintApp.produit.notation">Notation</span></dt>
            <dd>
                <span *ngFor="let notation of produit.notations; let last = last">
                    <a [routerLink]="['/notation', notation?.id, 'view']">{{ notation.note }}</a>{{ last ? '' : ', ' }}
                </span>
            </dd> -->
            <!-- <dt><span jhiTranslate="thePapyrusPrintApp.produit.image">Image</span></dt>
            <dd>
                <span *ngFor="let image of produit.images; let last = last">
                    <a [routerLink]="['/image', image?.id, 'view']">{{ image.path }}</a>{{ last ? '' : ', ' }}
                </span>
            </dd>
            <dt><span jhiTranslate="thePapyrusPrintApp.produit.marque">Marque</span></dt>
            <dd>
                <div *ngIf="produit.marque">
                    <a [routerLink]="['/marque', produit.marque?.id, 'view']">{{ produit.marque?.nom }}</a>
                </div>
            </dd> -->
        </dl>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>
    
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                [routerLink]="['/produit', produit.id, 'edit']"
                class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
    </div>
    <div id="right">
        <div class="col-sm-10">
            <div class="carousel">
                <ul class="slides">
                    <input type="radio" name="radio-buttons" id="img-1" checked />
                    <li class="slide-container">
                        <div class="slide-image">
                            <img src="../../../content/images/carte.png">
                        </div>
                        <div class="carousel-controls">
                            <label for="img-3" class="prev-slide">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-2" class="next-slide">
                              <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <input type="radio" name="radio-buttons" id="img-2" />
                    <li class="slide-container">
                        <div class="slide-image">
                            <img src="../../../content/images/carte2.png">
                        </div>
                        <div class="carousel-controls">
                            <label for="img-1" class="prev-slide">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-3" class="next-slide">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <input type="radio" name="radio-buttons" id="img-3" />
                    <li class="slide-container">
                        <div class="slide-image">
                            <img src="../../../content/images/carte3.png">
                        </div>
                        <div class="carousel-controls">
                            <label for="img-2" class="prev-slide">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-1" class="next-slide">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <div class="carousel-dots">
                        <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                        <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                        <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
