<div class='slider'>
  <div class='slide1'></div>
  <div class='slide2'></div>
  <div class='slide3'></div>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
      <div class="card filters">
          <div class="card-header">
            <strong jhiTranslate="thePapyrusPrintApp.produit.home.filter">Filtres</strong>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="from" jhiTranslate="thePapyrusPrintApp.produit.home.search">Recherche :</label>
                <input type="text" id="from" [(ngModel)]="nameSearch" class="form-control" name="produit">
              </div>
              <button class="btn btn-primary btn-block btn-sm" (click)="clearSearch()" jhiTranslate="thePapyrusPrintApp.produit.home.clear">Effacer la barre de recherche</button>
            </form>
          </div>
        </div>
        <br>
        <div class="card filters">
          <div class="card-header">
              <strong jhiTranslate="thePapyrusPrintApp.produit.home.contacts">Contacts</strong>
          </div>
          <div class="card-body">
            <form>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                </div>
                <input type="text" class="form-control" id="validationTooltipUsername" placeholder="thepapyrusprint@gmail.com" aria-describedby="validationTooltipUsernamePrepend" disabled>
              </div>
              <br>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="validationTooltipUsernamePrepend" jhiTranslate="thePapyrusPrintApp.produit.home.phone">Phone</span>
                </div>
                <input type="text" class="form-control" id="validationTooltipUsername" placeholder="(+33) 7 94 38 02 50" aria-describedby="validationTooltipUsernamePrepend" disabled>
              </div><br>
              <div class="logo-container">
                <div class="row">
                  <div>
                    <ul class="social-network">
                      <li><a href="https://www.facebook.com" class="facebook-button" onclick="window.open(this.href); return false;">Facebook</a></a></li>
                      <li><a href="https://www.instagram.com" class="instagram-button" onclick="window.open(this.href); return false;">Instagram</a></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <br>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary btn-block btn-sm float-right jh-create-entity create-produit" [routerLink]="['/produit/new']">
          <fa-icon icon="plus"></fa-icon>
          <span  jhiTranslate="thePapyrusPrintApp.produit.home.createLabel">
          Create a new Produit
          </span>
      </button>
  </div>

  <div class="col-sm-8">
      <!-- <h2 id="page-heading">
          <span jhiTranslate="thePapyrusPrintApp.produit.home.title">Produits</span>
      </h2> -->
  
      <jhi-alert-error></jhi-alert-error>
  
      <jhi-alert></jhi-alert>
  
      <div class="alert alert-warning" id="no-result" *ngIf="produits?.length === 0">
          <span jhiTranslate="thePapyrusPrintApp.produit.home.notFound">No produits found</span>
      </div>
      <div *ngIf="produits?.length > 0">
          <div class="row">
              <div class="col-md-4" *ngFor="let produit of produits | produitFilterPipe: nameSearch; trackBy: trackId;">
                <jhi-cart-produit [produit]="produit"></jhi-cart-produit>
              </div>
              <div class="alert alert-warning" id="no-result" *ngIf="!(produits | produitFilterPipe: nameSearch).length" >
                <span jhiTranslate="thePapyrusPrintApp.produit.home.notFound">No produits found</span>
              </div>
          </div>
  
          <!-- <div class="row justify-content-center">
              <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
          </div>
          <div class="row justify-content-center">
              <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
          </div> -->
      </div>
  </div>
</div>