<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-client-heading" jhiTranslate="thePapyrusPrintApp.client.home.createOrEditLabel">Create or edit a Client</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <!-- <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div> -->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.civilite" for="field_civilite">Civilite</label>
                    <select class="form-control" name="civilite" formControlName="civilite" id="field_civilite">
                        <option value="Mr">{{ 'thePapyrusPrintApp.Civilite.Mr' | translate }}</option>
                        <option value="Mm">{{ 'thePapyrusPrintApp.Civilite.Mm' | translate }}</option>
                        <option value="Mlle">{{ 'thePapyrusPrintApp.Civilite.Mlle' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('civilite')!.invalid && (editForm.get('civilite')!.dirty || editForm.get('civilite')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('civilite')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                    <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prenom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.sexe" for="field_sexe">Sexe</label>
                    <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe">
                        <option value="M">{{ 'thePapyrusPrintApp.Sexe.M' | translate }}</option>
                        <option value="F">{{ 'thePapyrusPrintApp.Sexe.F' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('sexe')!.invalid && (editForm.get('sexe')!.dirty || editForm.get('sexe')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sexe')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                    <div class="input-group">
                        <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker #dateNaissanceDp="ngbDatepicker" formControlName="dateNaissance"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateNaissance')!.invalid && (editForm.get('dateNaissance')!.dirty || editForm.get('dateNaissance')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateNaissance')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                    <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telephone')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.ville" for="field_ville">Ville</label>
                    <input type="text" class="form-control" name="ville" id="field_ville"
                           formControlName="ville"/>
                    <div *ngIf="editForm.get('ville')!.invalid && (editForm.get('ville')!.dirty || editForm.get('ville')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ville')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.codePostal" for="field_codePostal">Code Postal</label>
                    <input type="text" class="form-control" name="codePostal" id="field_codePostal"
                           formControlName="codePostal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.pays" for="field_pays">Pays</label>
                    <input type="text" class="form-control" name="pays" id="field_pays"
                           formControlName="pays"/>
                    <div *ngIf="editForm.get('pays')!.invalid && (editForm.get('pays')!.dirty || editForm.get('pays')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pays')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.quartier" for="field_quartier">Quartier</label>
                    <input type="text" class="form-control" name="quartier" id="field_quartier"
                           formControlName="quartier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }">
                            This field should follow pattern for "Email".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.observation" for="field_observation">Observation</label>
                    <input type="text" class="form-control" name="observation" id="field_observation"
                           formControlName="observation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="thePapyrusPrintApp.client.image" for="field_image">Image</label>
                    <select class="form-control" id="field_image" name="image" formControlName="image">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('image')!.value?.id ? editForm.get('image')!.value : clientOption" *ngFor="let clientOption of images; trackBy: trackById">{{ clientOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
