<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notation">
            <h2><span jhiTranslate="thePapyrusPrintApp.notation.detail.title">Notation</span> {{ notation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="thePapyrusPrintApp.notation.note">Note</span></dt>
                <dd>
                    <span>{{ notation.note }}</span>
                </dd>
                <dt><span jhiTranslate="thePapyrusPrintApp.notation.observation">Observation</span></dt>
                <dd>
                    <span>{{ notation.observation }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notation', notation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
